/* for servo chart */
.chart-ops {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}
.chart-ops input[type="text"] {
    width: 40px;
    color: #333;
    text-align: center;
    padding: 2px;
    border: 0;
    margin-left: 5px;
    border-radius: 5px;
    outline: none;
}