li {
    list-style: none;
}

.maincontent {
    margin-top: 70px;
}

.testlist .item {
    height: 160px;
    padding: 10px;
}
.testlist .item a {
    width: 100%;
    height: 140px;
    line-height: 130px;
    background: #3498db;
    display: block;
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.testlist .item a:hover {
    background: #2980b9;
}

.navbar-brand span {
    font-size: 14px;
    padding-left: 10px;
    color: #9d9d9d!important;
}

/* left */
.leftbar {
    position: fixed;
    width: 500px;
}
.serialport {
    height: 200px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
}
#com_num {
    width: 260px;
    margin-right: 10px;
}

.serialport .tip {
    color: #666;
    margin-left: 10px;
    font-size: 12px;
}

.msg {
    height: 200px;
    background: #000;
    color: #C7C7C7;
    line-height: 14px;
    padding: 5px;
    font-family: 'Menlo', sans-serif;
    line-height: 1.5em;
    overflow-y: auto;
    margin-bottom: 10px;
}
.msg-fun {
    display: none;
}
.msg-serial {
    height: 300px;
}
.msg-serial .data-recieve {
    color: #D85F00;
}
#serialDataInupt {
    width: 330px;
}

.ops {
    margin-left: 520px;
}
.ops input[type="text"] {
    width: 40px;
    color: #333;
    text-align: center;
    padding: 2px;
    border: 0;
    margin-left: 5px;
    border-radius: 5px;
    outline: none;
}
.ops .group {
    margin-bottom: 10px;
}
.ops .group label {
    font-weight: normal;
}
.sensor-value {
    font-weight: normal;
    color: #2CB76B;
    font-size: 16px;
    font-family: 'Menlo', sans-serif;
}