{{> nav}}
<div class="container maincontent">
    <div class="row">
        <div class="testlist col-xs-12">
            <div class="col-xs-4 item"><a href="/board">硬件测试</a></div>
            <div class="col-xs-4 item"><a href="/servo">舵机测试</a></div>
            <div class="col-xs-4 item"><a href="/chart">舵机测试-图表比对</a></div>
        </div>
    </div>
</div>